# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.ipynb_checkpoints/

# Model checkpoints
*.pt
*.pth
*.pth.tar
*.ckpt
checkpoint/
saved_models/

# Experiments
experiments/

# Logs
logs/

# Data
data/

# Extra notebooks
extra_notebooks/

# Archives
*.zip

# OS files
.DS_Store
Thumbs.db
project_structure.txt